/* Google font here*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,200;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --gold: #ff9800;
  --white: #ffffff;
  --black: #202026;
  --fblac: rgb(70, 64, 64);
}
img {
  object-fit: cover;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
/* NAVIGATION BAR START */
.header {
  margin-top: 0.5px;
  padding: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  height: fit-content;
  background-color: rgb(70, 64, 64);
  border-radius: 6px;
  z-index: 20;
}
.header .logo {
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  background: var(--gold);
  padding: 7px 10px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.header nav {
  position: relative;
  display: block;
  background-color: var(--white);
  border-radius: 6px;
  width: fit-content;
  height: 49px;
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul {
  display: flex;
  list-style-type: none;
}
.header nav ul li {
  width: 100px;
  text-align: center;
  transition: all 0.5s ease;
  z-index: 1;
  position: relative;
}
.header nav ul li a {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 0.5s ease;
}
.header nav ul li a .icon {
  position: relative;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  line-height: 35px;
  color: var(--black);
  display: block;
}
.header nav ul li:hover a .icon {
  transform: translateY(-17px);
  /* color: var(--white); */
}
.header nav ul li a .text {
  color: var(--black);
  position: absolute;
  transition: 0.5s;
  letter-spacing: 0.05em;
  display: block;
  font-weight: bold;
  font-size: 12px;
  opacity: 0;
  transform: translateY(18px);
}
.header nav ul li:hover a .text {
  opacity: 1;
  transform: translateY(16px);
}
.indicator {
  position: absolute;
  top: -50%;
  left: 50px;
  width: 49px;
  height: 100%;
  border-radius: 50%;
  background: var(--gold);
  border: 5px solid rgb(70, 64, 64);
  transition: 0.5s;
  display: none;
}
.indicator::before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  left: -20px;
  border-top-right-radius: 20px;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: 0 -10px 0 0 rgb(70, 64, 64);
}
.indicator::after {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  right: -20px;
  border-top-left-radius: 20px;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: 0 -10px 0 0 rgb(70, 64, 64);
}
.header nav ul li:nth-child(1):hover ~ .indicator {
  transform: translateX(calc(100px * 0));
  display: block;
}
.header nav ul li:nth-child(2):hover ~ .indicator {
  transform: translateX(calc(100px * 1));
  display: block;
}
.header nav ul li:nth-child(3):hover ~ .indicator {
  transform: translateX(calc(100px * 2));
  display: block;
}
.header nav ul li:nth-child(4):hover ~ .indicator {
  transform: translateX(calc(100px * 3));
  display: block;
}
.header nav ul li:nth-child(5):hover ~ .indicator {
  transform: translateX(calc(100px * 4));
  display: block;
}
.header .menubtn {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(70, 64, 64);
  background: var(--white);
  transition: all 0.5s ease-in-out;
}
/* MEDIA QUERY FOR HEADER SECTION */
@media screen and (max-width: 900px) {
  .header {
    width: 95%;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .logo {
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
    background: var(--gold);
    padding: 4px 6px;
    margin-bottom: 5px;
  }
  .header nav {
    position: relative;
    display: block;
    background-color: var(--white);
    border-radius: 6px;
    width: fit-content;
    height: 49px;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .header .logo {
    font-size: 10px;
    font-weight: bold;
    color: var(--white);
    background: var(--gold);
    padding: 2px 4px;
    margin-bottom: 5px;
  }
  .header nav {
    height: 35px;
    padding: 0px 25px;
  }
  .header nav ul li {
    width: 70px;
  }
  .header nav ul li a {
    width: 100%;
  }
  .header nav ul li a .icon {
    font-size: 15px;
    transition: 0.5s;
    line-height: 28px;
  }
  .header nav ul li:hover a .icon {
    transform: translateY(-14px);
    /* color: var(--white); */
  }
  .header nav ul li a .text {
    font-size: 10px;
    opacity: 1;
    transform: translateY(12px);
  }
  .header nav ul li:hover a .text {
    transform: translateY(8px);
  }
  .indicator {
    position: absolute;
    top: -50%;
    left: 42px;
    width: 35px;
    height: 100%;
    border-radius: 50%;
    background: var(--gold);
    border: 5px solid rgb(70, 64, 64);
    transition: 0.5s;
    display: none;
  }
  .indicator::before {
    content: "";
    position: absolute;
    top: calc(50% - 1.5px);
    left: -20px;
    border-top-right-radius: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: 0 -10px 0 0 rgb(70, 64, 64);
  }
  .indicator::after {
    content: "";
    position: absolute;
    top: calc(50% - 1.5px);
    right: -20px;
    border-top-left-radius: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: 0 -10px 0 0 rgb(70, 64, 64);
  }
  .header nav ul li:nth-child(1):hover ~ .indicator {
    transform: translateX(calc(70px * 0));
    display: block;
  }
  .header nav ul li:nth-child(2):hover ~ .indicator {
    transform: translateX(calc(70px * 1));
    display: block;
  }
  .header nav ul li:nth-child(3):hover ~ .indicator {
    transform: translateX(calc(70px * 2));
    display: block;
  }
  .header nav ul li:nth-child(4):hover ~ .indicator {
    transform: translateX(calc(70px * 3));
    display: block;
  }
  .header nav ul li:nth-child(5):hover ~ .indicator {
    transform: translateX(calc(70px * 4));
    display: block;
  }
}

/* MAIN SECTION START */
.main {
  width: 85%;
  padding: 0px 25px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.row {
  width: 100%;
  padding-top: 130px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col-1 {
  float: left;
  width: 50%;
  padding: 15px;
}
.col-2 {
  float: right;
  width: 50%;
}
.col-2 img {
  width: 100%;
  border-radius: 10px;
}
.col-1 h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 25px 0;
  color: var(--black);
}
.col-1 small {
  color: var(--fblac);
  font-weight: bold;
}
.col-1 .btn {
  text-decoration: none;
  background-color: var(--gold);
  display: block;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 9px 30px;
  margin: 15px;
  width: fit-content;
  transition: 0.5s;
}
.col-1 .btn:hover {
  background-color: red;
}
/* MEDIA QUERY FOR HOME SECTION */
@media screen and (max-width: 980px) {
  .main {
    width: 95%;
    margin: auto;
  }
  .col-1 h1 {
    font-size: 32px;
    line-height: 60px;
    margin: 25px 0;
    color: var(--black);
  }
  .col-1 small {
    color: var(--fblac);
    font-size: 10px;
    font-weight: bold;
  }
}
@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    padding-top: 130px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .col-1 {
    float: none;
    width: 100%;
    padding: 15px;
    text-align: center;
    justify-content: center;
  }
  .col-2 {
    float: none;
    width: 100%;
  }
  .col-1 h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  .col-1 .btn {
    display: block;
    margin: 15px auto;
  }
  .col-1 small {
    font-size: 15px;
    color: var(--fblac);
    font-weight: bold;
  }
}
@media screen and (max-width: 500px) {
  .col-1 h1 {
    font-size: 20px;
    line-height: 40px;
    margin: 15px 0;
    color: var(--black);
  }
  .col-1 small {
    color: var(--fblac);
    font-size: 10px;
    font-weight: bold;
  }
}
/* PRODUCT SECTION */
.products {
  width: 100%;
  padding-top: 90px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  display: block;
}
.products .title {
  width: 100%;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 25px;
  color: var(--fblac);
  text-align: center;
  background-color: var(--gold);
}
.roww {
  width: 100%;
  padding: 15px 10px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.small {
  width: 90%;
  margin: 0px auto;
  padding: 15px 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small p {
  color: var(--fblac);
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  line-height: 500px;
}
.roww .small .col {
  flex-basis: 30%;
  min-width: 230px;
  height: 420px;
  margin-bottom: 30px;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 15px;
}
.roww .small .col:hover {
  transform: translateY(-12px);
}
.roww .small .col img {
  width: 100%;
  height: 60%;
  border-radius: 7px;
}
.roww .small .col .star {
  display: flex;
  align-items: center;
  color: var(--gold);
}
.roww .small .col .name {
  font-weight: bold;
  font-size: 13px;
}
.roww .small .col .price {
  color: red;
  font-weight: bold;
  font-size: 13px;
}
.roww .small .col .detail {
  color: var(--fblac);
  font-weight: bold;
  font-size: 10px;
}
.roww .small .col .btn {
  text-decoration: none;
  background-color: var(--gold);
  display: inline-block;
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  padding: 9px 15px;
  margin: 10px 0px;
  width: fit-content;
  transition: 0.5s;
}
.roww .small .col .btn:hover {
  background-color: red;
}
/* MEDIA QUERY FOR PRODUCT SECTION */
@media screen and (max-width: 960px) {
  .roww .small .col {
    flex-basis: 30%;
    min-width: 200px;
    height: 400px;
    margin-bottom: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 55%;
    border-radius: 7px;
  }
}
@media screen and (max-width: 830px) {
  .roww .small .col {
    flex-basis: 30%;
    min-width: 160px;
    height: 360px;
    margin-bottom: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 55%;
    border-radius: 7px;
  }
}
@media screen and (max-width: 700px) {
  .small {
    width: 100%;
    margin: 0px auto;
    padding: 15px 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .products .title {
    font-weight: bold;
    font-size: 15px;
  }
  .roww .small .col {
    flex-basis: 30%;
    min-width: 160px;
    height: 360px;
    margin-bottom: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 55%;
    border-radius: 7px;
  }
}
@media screen and (max-width: 620px) {
  .small {
    width: 100%;
    margin: 0px auto;
    padding: 15px 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .roww .small .col {
    flex-basis: 30%;
    min-width: 60px;
    height: 260px;
    margin-bottom: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 55%;
    border-radius: 7px;
  }
}
@media screen and (max-width: 500px) {
  .small {
    width: 100%;
    margin: 0px auto;
    padding: 15px 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .roww .small .col {
    flex-basis: 30%;
    min-width: 60px;
    height: 240px;
    margin-bottom: 30px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 52%;
    border-radius: 7px;
  }
  .roww .small .col .star {
    display: flex;
    align-items: center;
    color: var(--gold);
  }
  .roww .small .col .name {
    font-weight: bold;
    font-size: 11px;
  }
  .roww .small .col .price {
    color: red;
    font-weight: bold;
    font-size: 11px;
  }
  .roww .small .col .detail {
    color: var(--fblac);
    font-weight: bold;
    font-size: 8px;
  }
}
@media screen and (max-width: 460px) {
  .small {
    width: 95%;
    margin: 0px auto;
    padding: 15px 10px;
    overflow: hidden;
    display: block;
    text-align: center;
  }
  .roww .small .col .star {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gold);
  }
  .roww .small .col {
    /* flex-basis: 30%; */
    min-width: 100%;
    height: 450px;
    margin-bottom: 10px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
  .roww .small .col img {
    width: 100%;
    height: 70%;
    border-radius: 7px;
  }
}
@media screen and (max-width: 380px) {
  .roww .small .col {
    /* flex-basis: 30%; */
    min-width: 100%;
    height: 340px;
    margin-bottom: 10px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 15px;
  }
}
/* CONTACT */
.contacts {
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
}
.call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.call h1 {
  color: var(--black);
  padding: 15px;
}
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 20px;
}
.contain .info {
  width: 30%;
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  flex-direction: column;
}
.contain .info .good {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain .info i {
  font-size: 20px;
  color: var(--gold);
}
.contain .info p {
  font-size: 14px;
  font-weight: normal;
  color: var(--black);
}
.contain .form {
  width: 70%;
  margin-left: 10px;
}
.contain .form .contactForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contain .form .contactForm .form-control {
  width: 60%;
  margin: 10px 5px;
  height: 40px;
  padding-left: 7px;
}
.contain .form .contactForm .form-control.more {
  width: 60%;
  margin: 10px 5px;
  height: 90px;
}
.contain .form .contactForm button {
  font-size: 80%;
  width: 40%;
  margin: 10px 5px;
  height: 50px;
  background-color: var(--gold);
  box-shadow: -3px 3px 4px 0 var(--black);
  color: var(--white);
  border-radius: 10px;
}
.contain .form .contactForm button:hover {
  width: 45%;
  height: 55px;
  background-color: red;
}
/* Media query for contact section */
@media screen and (max-width: 900px) {
  .contain {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  .contain .form {
    width: 90%;
  }
  .contain .info {
    width: 90%;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
  }
  .contain .form .contactForm .form-control {
    width: 100%;
    height: 50px;
  }
  .contain .form .contactForm .form-control.more {
    width: 100%;
    height: 90px;
  }
  .contain .form .contactForm button {
    font-size: 80%;
    width: 45%;
    height: 50px;
  }
  .contain .form .contactForm button:hover {
    width: 50%;
    height: 55px;
    background-color: red;
  }
}
/* FOOTER */
.foot {
  width: 100%;
  background-color: black;
}
.foot .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 175px;
  overflow: hidden;
}
.row .author {
  width: 35%;
  color: white;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 40px;
}
.row .foot-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 10px 0px 40px;
}
.foot-nav ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-nav ul li {
  margin: 8px;
  color: white;
  text-decoration: none;
}
.foot-nav ul li a {
  font-size: 12.5px;
  color: white;
  text-decoration: none;
}
.foot-nav ul li:hover a {
  color: var(--gold);
}

/* Media query for footer section */
@media screen and (max-width: 930px) {
  .foot .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .row .author {
    width: 60%;
  }
  .row .foot-nav {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .row .foot-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .foot-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* DETAILED PRODUCT SECTION */
.row-2 {
  flex-basis: 50%;
  height: 450px;
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
}
.row-2 img {
  width: 100%;
  height: 100%;
}
.row-2 .select {
  width: 140px;
  margin: 5px 0px 5px;
}
.row-2 .qty {
  width: 50px;
  margin: 1px 0px 7px;
  text-align: center;
}
.row-2 .btn {
  text-decoration: none;
  background-color: var(--gold);
  display: inline-block;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 9px 30px;
  margin: 10px 0px;
  width: fit-content;
  transition: 0.5s;
}
.row-2 .btn:hover {
  background-color: red;
}
.row-2 .star {
  color: var(--gold);
  font-size: 20px;
}
.row-2 .name {
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0px 10px;
}
.row-2 .price {
  color: red;
  font-weight: bold;
  font-size: 20px;
  margin: 7px 0px 5px;
}
.row-2 label {
  font-weight: bold;
  font-size: 18px;
  margin: 7px 0px 5px;
}
.row-2 .detail {
  color: var(--fblac);
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  margin: 2px 0px 10px;
  word-spacing: 5px;
}

/* CART SECTION */
.rowt {
  width: 100%;
  padding-top: 130px;
  margin-top: 10px;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}
.rowt table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}
.rowt table thead {
  color: white;
  background-color: var(--gold);
  font-size: 15px;
  overflow: hidden;
}
.rowt table thead th {
  padding: 5px;
  text-align: left;
  overflow: hidden;
}
.rowt table thead th:last-child {
  text-align: center;
}
.total {
  display: flex;
  justify-content: center;
  width: 100%;
}
.total table {
  border-top: 3px solid var(--gold);
  width: 100%;
  max-width: 470px;
  font-size: 13px;
  font-weight: bold;
}
td:last-child {
  text-align: right;
}
.botn {
  background-color: var(--gold);
  display: block;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 9px 30px;
  margin: 20px auto 10px;
  width: fit-content;
  transition: 0.5s;
}
.botn:hover {
  background-color: red;
}
